.canvas-view {
}

.canvas-view__canvas {
    /* max-width: 500px; */
    border: 1px solid black;
    display: block;
    cursor: none;
}

.canvas-view > input {
    width: 100%;
    font-family: serif;
    font-size: 18px;
    line-height: 26px;
    position: fixed;
    border: none;
    outline: none;
}